GardenAndOgorodShop/bin/Debug/DBCopies/
GardenAndOgorodShop/bin/Debug/ContractWithSupplier/
GardenAndOgorodShop/bin/Debug/InvoicesProduct/
GardenAndOgorodShop/bin/Debug/PaymentAgreements/
GardenAndOgorodShop/bin/Debug/ReportsAnalyzOrders/
GardenAndOgorodShop/bin/Debug/WritesProduct/